[Desktop Entry]
Name=Mai Bloom Installer
Exec=sudo chmod +x /usr/local/bin/base.py && python /usr/local/bin/base.py
Icon=system-software-install
Type=Application
Categories=Utility;
Terminal=false
