[Desktop Entry]
Name=Mai Bloom Installer
Exec=cd /usr/local/bin/ && sudo chmod +x base.py && python base.py
Icon=system-software-install
Type=Application
Categories=Utility;
Terminal=false
