[Desktop Entry]
Name=Mai Bloom Installer
Exec=konsole -e bash -c "cd /usr/local/bin/ && sudo chmod +x base.py && python base.py; exec bash"
Icon=system-software-install
Type=Application
Categories=Utility;
Terminal=false
